<%- include("header") -%>



    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <!-- tap into items array, get access to each item, which is a document, and display name only -->
       <% items.forEach(function(item){ %>

            <form action="/delete" method="post">
                <div class="item">  

                    <input name="checkbx" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                    <!-- the job of value="<%=item._id%>" is to get the mongodb-generated id of the item that is being checked off, so we can delete the document with that id -->

                    <p><%= item.name %></p>
                    
                </div>
                <input type="hidden" name="hiddenListName" value="<%=listTitle%>"></input>
            </form>
            
        <% }) %>


        <form class="item" action="/" method="post">
            <input type="text" name="addItem" placeholder="What to do?" autocomplete="off">
            <button class="addbutton" type="submit" name="list" value="<%=listTitle%>">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </button>
        </form>

    </div>


    <div class="box">
        <form class="item" action="/createCustomList" method="post">
            <input type="text" name="addItem1" placeholder="Type title of your own new list" autocomplete="off">
            <button class="gobutton" type="submit" name="list" value=<%= listTitle %>>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </button>
        </form>
    </div>

    
        <form class="homebutton" action="/" method="get">
            <button class="btn btn-primary" type="submit">Go back to default list</button>
        </form>
  
     


<%- include("footer") -%>

