<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    

    <div class="box">

        <!-- tap into items array, get access to each item, which is a document, and display name only -->
       <% items.forEach(function(item){ %>

            <form action="/delete" method="post">
                <div class="item">  

                    <input name="checkbx" type="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                    <!-- the job of value="<%=item._id%>" is to get the mongodb-generated id of the item that is being checked off, so we can delete the document with that id -->

                    <p><%= item.name %></p>
                    
                </div>
                <input type="hidden" name="hiddenListName" value="<%=listTitle%>"></input>
            </form>
            
        <% }) %>


        <form class="item" action="/" method="post">
            <input id="default-list" type="text" name="addItem" placeholder="Type and add your to-do activites" autocomplete="off">
            <button class="addbutton" type="submit" name="list" value="<%=listTitle%>">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </button>
        </form>

    </div>


    <div class="box">
        <form class="item" action="/createCustomList" method="post">
            <input id="custom-list" type="text" name="addItem1" placeholder="Type title of your own list to go to it" autocomplete="off">
            <button class="gobutton" type="submit" name="list" value=<%= listTitle %>>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                </svg>
            </button>
        </form>
    </div>

    
        <form class="homebutton" action="/" method="get">
            <button class="btn btn-primary" type="submit">Go back to default list</button>
        </form>
  
     

        <div class="container px-4 py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom">Features</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="col d-flex align-items-start">
                <div  class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg id="pen" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="fs-2 text-body-emphasis">Create To-Do lists every day</h3>
                  <p>Get started on creating a to-do list right away from the default list that automatically generates the day of the week</p>
                  <a id="default-list-button" href="#" class="btn btn-primary" >
                    Get started
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg id="journal" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="fs-2 text-body-emphasis">Create Custom Lists</h3>
                  <p>Name and create your own custom lists for any purpose like work, movie watchlists, etc.</p>
                  <a id="create-custom-list-button" href="#" class="btn btn-primary">
                    Create custom list
                  </a>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg id="bookmark" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="fs-2 text-body-emphasis">Access Old Custom Lists</h3>
                  <p>If you have already created a custom list, you can access it simply by typing in its name in the same search box used to create new custom lists</p>
                  <a id="search-custom-list-button" href="#" class="btn btn-primary">
                    Search for custom list
                  </a>
                </div>
              </div>
            </div>
          </div>


<%- include("footer") -%>

